*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Basic styling for the main site */
html {
  /* box-sizing: border-box; */
  font-family: "jost", sans-serif;
}

body {
  margin: 0;
  /* background-color: black; */
  background-image: linear-gradient(to bottom right, rgb(65, 64, 64), black);
  /* background-image: url(images/wall.jpg); */
}

/* Logo area including the image background */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/street.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  /* width: 100%;
  height: 300px;
  position: fixed; */
  /* z-index: 999;
  border-bottom: 3px solid black; */
}

.header-div {
  display: flex;
  flex-direction: column;
  width: 100%;

  position: fixed;
  z-index: 999;
  border-bottom: 3px solid black;
}
/* .header-div header {
  align-self: center;
} */

#Logo2 {
  transform: scale(40%);
  margin: 0;
  padding: 1%;
  border: 2px solid #7d6608;
}

/* Small about paragraph under menu navbar */

.intro {
  display: flex;
  flex-direction: column;
}
.about {
  position: relative;
  margin: 2em;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: xx-large;
  color: white;
}

@media (max-width: 460px) {
  .about {
    font-size: large;
  }
}

/* General styling for all H2 elements */
h2 {
  font-family: "Open Sans Condensed", sans-serif;
}

/* Controlling repsonsiveness of images. */
img {
  display: block;
  max-width: 100%;
}

/* Header contains the desktop and modile nav bars. */
header {
  border-top: 1px solid #7d6608;
  border-bottom: 1px solid #7d6608;
  /* margin-top: 2em; */
  display: flex;
  background: black;
  /* opacity: 0; */
  text-align: center;

  position: fixed;
  z-index: 998;
  width: 40%;
  /* justify-content: flex-start; */
}

/* This section controls the hamburger menu position. */
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  bottom: 100px;
  left: 10px;

  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #7d6608;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* This section controls the mobile nav bar menu */
nav {
  background: rgba(125, 102, 8, 0.6);
  /* position: fixed; */
  text-align: left;
  top: 100%;
  left: 0;
  width: 80%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  backdrop-filter: blur(2px);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #f5c815;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

/* Hover animation on nav bar. */
nav a:hover,
nav a:focus {
  color: #7d6608;
}

/* When the hamburger menu is clicked. */
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* This is where the responsiveness is added. */
@media (min-width: 600px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr minmax(600px, 1fr) 1fr;
    background-color: black;
    width: 100%;
  }
  nav {
    all: unset;
    background-color: black;

    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    color: white;
    opacity: 1;
    position: relative;
  }

  /* Hamburger menu responsivness */
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: #7d6608;
    position: absolute;
    bottom: -0.25em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover,
  nav a:focus {
    color: #f5c815;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

/* This resizes the header and logo when in mobile view. */
@media (max-width: 600px) {
  header {
    border-top: none;
    border-bottom: none;
    background: none;
  }

  .logo {
    height: 100px;
  }

  #Logo2 {
    transform: scale(20%);
  }
}

/* This styles the image below the intro text. */
.scroll {
  display: flex;
  justify-content: center;
}

.scroll-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  max-width: 850px;
}
.scroll-img:hover {
  cursor: pointer;
}

.scroll-img button {
  visibility: hidden;
  border: none;
  background: none;
  color: black;
  align-self: flex-end;
}
.scroll-img button:hover {
  cursor: pointer;
}

.scroll-img a {
  color: white;
  text-decoration: none;
  font-size: x-large;
}

.scroll-img:hover {
  text-decoration: underline;
}

.special-text {
  color: #f5c815;
}

/* Div that makes space between scroll and sub-tiles. */
.space {
  height: 50px;
  /* width: 100%; */
  border-bottom: 1px solid #7d6608;
  margin: 1em 1em 5em;
}
.article-intro {
  margin: 2em;
  font-size: xx-large;
  color: white;
  font-weight: bolder;
}

@media (max-width: 460px) {
  .article-intro {
    font-size: large;
  }
}

/* Sub tiles styling. */

.container {
  max-width: 150em;
  margin-inline: auto;
  padding-inline: 2em;
}

.article-grid {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.article {
  aspect-ratio: 1/1.5;
}

.article-text {
  align-self: end;
  margin: 0.5em 0.5em 2em;
  padding: 0.5em;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 0.1);
  color: white;
}

.article__img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.article-text a {
  color: white;
  text-decoration: none;
}

.article-text:hover {
  text-decoration: underline;
}
/* Animation on sub-article images to show which tile is being moused over. */
.article__img:hover {
  transform: scale(103%);
  transition: 0.3s;
}

/* Watch page styling */
.watches {
  display: flex;
  flex-direction: column;
}

.watch-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 2500px; */
  height: 100%;
  /* background-color: blue; */
  align-items: center;
  justify-content: space-around;
}

.watch-a {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  background-color: black;
  border: 3px double #7d6608;
  border-radius: 5px;
  align-items: center;
}

.watch-vid {
  /* display: flex;
  flex-direction: column;
  align-items: center;

  position: relative; */
  /* padding-bottom: 56.25%;
  height: 0; */
  margin-top: 3rem;
  /* width: fit-content; */
  width: 60%;
  height: auto;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .watch-vid iframe {
    transform: scale(90%);
  }
}

.watch-article {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 60%;
  /* background-color: red; */
  margin: 1rem;
}

.watch-text {
  /* display: flex;
  flex-direction: row;
  align-content: flex-start; */
  height: 100%;
  width: 90%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.1em;
  color: white;
  margin: auto;
}

/* Responsiveness of text in watch articles */
@media (max-width: 1100px) {
  .watch-article {
    width: 100%;
  }
  .watch-text {
    padding: 10px;
  }
}

.watch-img {
  float: left;
  margin: 1%;
  height: 200px;
  width: 200px;
  /* aspect-ratio: 1/1; */
  object-fit: cover;
  /* background-color: pink; */
}

#watch2 {
  /* align-self: flex-end; */
  float: right;
}

/* Responsivenss of images in watch articles. This moves them into positions above and below text rather than floating at theleft and right. */
@media (max-width: 1600px) {
  .watch-img,
  #watch2 {
    float: none;
    margin: auto;
  }
}

/* Outfits page styling */

.outfits-main {
  margin: 0;
  padding: 0;
}

.filter-menu {
  width: 85%;
  margin: 50px auto;
}

.filter-menu h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

.ul {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-bottom: 2px solid #7d6608;
  padding-bottom: 10px;
  padding-left: 0;
}

.ul li {
  list-style: none;
  background-color: #7d6608;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .filter-menu {
    margin-top: 5px;
    z-index: 999;
  }
  .ul {
    flex-direction: column;
    align-items: center;
  }
  .ul li {
    margin: 0.5em;
  }
}

@media (max-width: 500px) {
  .ul li {
    font-size: 1em;
  }
}

@media (max-width: 400px) {
  .ul li {
    font-size: 0.9em;
  }
}

.ul li.active {
  background-color: #f5c815;
}

.items {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1440px) {
  .items {
    justify-content: center;
  }
}

.items img {
  width: 600px;
  height: 600px;
  margin-bottom: 20px;
  /* aspect-ratio: 1/1; */
  object-fit: cover;
}

.items img:hover {
  transform: scale(103%);
}

/* Footer styling */

footer {
  /* background-color: #333; */
  /* width: 100%; */
  background-color: black;
  padding: 3em 1em;
  color: white;
}

footer a {
  color: inherit;
}

.site-map {
  list-style: none;
  display: flex;
  justify-content: center;
}

.site-map a {
  padding: 0.75em;
  text-decoration: none;
  flex-wrap: wrap;
}

/* Animations to show which site map item is being moused over. */
.site-map a:hover,
.site-map a:focus {
  text-decoration: underline;
  color: #f5c815;
}

.footer-info {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-info a {
  padding: 0.75em;
  text-decoration: none;
  flex-wrap: wrap;
}

/* Animations to show which footer item is being moused over. */
.footer-info a:hover,
.footer-info a:focus {
  text-decoration: underline;
  transition: 0.5s;
  color: #f5c815;
}

.footer-social {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer-social img {
  padding: 2em;
  text-decoration: none;
  flex-wrap: wrap;
}

.footer-social img:hover,
.footer-social img:focus {
  /* text-decoration: underline; */
  transform: scale(130%);
  transition: 0.5s;
}

/* Footer reactive styling. */
@media (max-width: 600px) {
  .site-map {
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0;
  }
  .footer-info {
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0;
  }
  .footer-social {
    padding-inline-start: 0;
  }
}

/* Shoe and boot page styling. */

/* Main background section.*/

.articles {
  display: flex;
  flex-direction: column;
}

/* .expandable {
  border: 1px solid #7d6608;
  margin-bottom: 1em;
} */

/* Hides all the expandees */
.expandable .expandee {
  display: none;
}

/* Shows the expandee when .expanded is added to the parent of expandee */
.expanded .expandee {
  display: flex;
  position: absolute;
  margin: auto;
  justify-content: center;
  /* height: 100%;
  width: 100%;
  background-color: red; */
}
.footwear-image {
  cursor: pointer;
  float: left;
}

/* Image when clicked. */
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  /* opacity: 0;
  pointer-events: none; */
  top: 10%;
  left: 25%;
  height: 100vh;
  width: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);

  /* transition: opacity 0.3s ease; */
}

/* making sure the expanded image is positioned responsively. */
@media (max-width: 1600px) {
  .modal-container {
    left: 10vh;
  }
}

@media (max-width: 1100px) {
  .modal-container {
    left: 3vh;
  }
}

@media (max-width: 1000px) {
  .modal-container {
    left: 0.1vh;
    width: 100%;
  }
  .modal-img {
    width: 100%;
  }
}

.modal {
  justify-content: center;
  align-items: center;

  /* opacity: 0;
  pointer-events: none; */

  /* height: 50vh;
  width: 60vh; */

  /* background-color: rgba(125, 102, 8, 0.6); */
}

.modal-img {
  transform: scale(50%);
  border: 2px solid #7d6608;
  /* margin: auto; */
  padding: 1em;
  height: 100%;
  width: 100%;
  cursor: pointer;

  /* position: fixed;
  top: 0;
  left: 0; */
  /* object-fit: contain; */
}

/* Changes opacticty so the image can be seen. */
/* .modal-container.show {
  pointer-events: auto;
  opacity: 1;
  z-index: 999;
} */

/* Shoe and boot page styling. */

/* Main background section.*/
.expandables-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  height: 100%;
  /* background-color: rgba(125, 102, 8, 0.6); */
}

/* Individual article background containing picture and text. */
.expandable {
  border: 3px double #7d6608;
  border-radius: 5px;
  display: flex;
  /* background-color: white; */
  /* color: #7d6608; */
  color: white;
  margin: 2em;
  width: 60%;
  height: fit-content;
  background-color: black;
  /* box-shadow: 0 1.5rem 0.5rem rgb(0 0 0 / 0.1);
   */
  /* box-shadow: 5px 10px 8px #888888; */
}

/* Making the staggered pattern. */
.expandable:nth-of-type(even) {
  align-self: flex-end;
}

/* The image in each article. */
.footwear-image {
  background-color: aliceblue;
  height: 200px;
  width: 200px;
  float: left;
  margin: 0.5em;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* Animation to show when mouse over on image. */
.footwear-image:hover {
  transform: scale(103%);
  transition: 0.3s;
}

/* Styling the text in the article. */
.footwear p {
  font-size: x-large;
  padding: 0.5em;
}

/* Responsiveness of articles. */
@media (max-width: 1000px) {
  /* Changing the position of the image in the box. */
  .footwear-image {
    float: none;
    margin: auto;
  }

  .expandables-container {
    align-items: center;
  }
  /* Putting into straight column. */
  .expandable:nth-of-type(even) {
    align-self: center;
  }

  .expandable {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .footwear p {
    font-size: medium;
  }
}
